@{
    ViewData["Title"] = "Home Page";
}
<div></div>
<div class="text-center">
    <h1 class="display-4">Bienvenido @User.Identity.Name</h1>



    <p>Contactame para mas informacion</a>.</p>
</div>
